<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console Appender -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- File Appender -->
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/app.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Root Logger -->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </root>

    <!-- Geode Specific Logger -->
    <logger name="org.apache.geode" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="FileAppender"/>
    </logger>

</log4j:configuration>
